/* BASIC STYLES HERE */

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}

.quote-shadow {
  color: #ededffbd;
  text-shadow: 2px 2px 5px #313030;

}

.weather {
  cursor: pointer;

}

.head-corner {
  user-select: none;
}

.quote-author {
  color: #ededffbd;
  visibility: hidden;
  opacity: 0;
  transition: .5s ease-in-out;
}

.quote:hover+.quote-author {
  visibility: visible;
  opacity: 1;
}